{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
<div class="panel-heading">
    <h1>{{ name }}</h1>
</div>
<div class="panel-body">
    <label>Last modification date: {{ disease.LastModified }}</label>
    <br>
    <label>Concept ID: {{ disease.ConceptID }}</label>
    <br>
    <label>MIM: <a href="http://www.omim.org/search?index=entry&amp;search={{ disease.DiseaseMIM }}" target="_blank">{{ disease.DiseaseMIM }} <span class="glyphicon glyphicon-share"></span></a></label>
</div>
<div>
    <p>
        {{ concept.Def }}
    </p>
</div>
</div>
<div>
    <h3>Related genes:</h3>
    <ul>
    {% for gene in genes %}
        <li><a href="geneDetails?id={{ gene.GeneID }}">{{ gene.GeneName }}</a></li>
    {% endfor %}
    </ul>
</div>
<div>
    <h3>Related concepts:</h3>
    <ul>
    {% for r in related %}
        <li><a href="diseaseDetails?id={{ r.ConceptID }}">{{ r.Name }}</a></li>
    {% endfor %}
    </ul>
</div>
<div>
    <h3>Sources:</h3>
    {% for source in sources %}
        <div>{{ source.Num }}. {{ source.Title }}
            <br>
            {{ source.Date }}
            <br>
            {{ source.Journal }}
            <br>
            Authors: {% for author in source.Authors %}
            <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{author}}" target="_blank">{{author}}</a>{%if not forloop.last%},{%endif%}

            {% endfor %}
            <br>
            Related with:
            {% for item in  source.related %}
                <span class="label label-primary"><a style="color:white;" href="geneDetails?id={{ item.id }}">{{ item.name }}</a></span>
            {% endfor %}
            <br><br>
        </div>
    {% endfor %}
</div>
<div id="sourcesTimeline" style="height: 300px; width: 100%;">
    
</div>
<div>
    <h3>Relations graph:</h3>
</div>
<div id="canvasGraph">
    
</div>
<script>
    var diseaseID = "{{ disease.ConceptID }}" ;
    var sources = { {% for source in sources %}
                   {{ source.Num }} : "{{ source.Date }}",
                   
           {% endfor %} };
    var names = {
		{% for source in sources %}
			{{ source.Num }}: "{{ source.Title }}",
		
		{% endfor %}
		};
  
    window.onload = function() {
        getGraphDataForDisease(diseaseID, 2);
        drawSourceTimeLine(sources, names);
    };
</script>


{% endblock %}
