{% extends "base.html" %}
{% block content %}

<div>
    <h1>{{ name }}</h1>
</div>
<div>
    <label>Last modyfication date: {{ disease.LastModified }}</label>
    <br>
    <label>Concept ID: {{ disease.ConceptID }}</label>
    <br>
    <label>MIM: {{ disease.DiseaseMIM }}</label>
</div>
<div>
    <p>
        {{ concept.Def }}
    </p>
</div>
<div>
    <h3>Related genes:</h3>
    <ul>
    {% for gene in genes %}
        <li><a href="geneDetails?id={{ gene.GeneID }}">{{ gene.GeneName }}</a></li>
    {% endfor %}
    </ul>
</div>
<div>
    <h3>Related concepts:</h3>
    <ul>
    {% for r in related %}
        <li><a href="diseaseDetails?id={{ r.ConceptID }}">{{ r.Name }}</a></li>
    {% endfor %}
    </ul>
</div>
<div>
    <h3>Sources:</h3>
    {% for source in sources %}
        <div>{{ source.Num }}. {{ source.Title }}
            <br>
            {{ source.Date }}
            <br>
            {{ source.Journal }}
            <br>
            Authors: {{ source.Authors }}
            <br><br>
        </div>
    {% endfor %}
</div>
<div id="sourcesTimeline" style="height: 300px; width: 100%;">
    
</div>
<div>
    <h3>Relations graph:</h3>
</div>
<div id="canvasGraph">
    
</div>
<script>
    var diseaseID = "{{ disease.ConceptID }}" ;
    var sources = { {% for source in sources %}
                   {{ source.Num }} : "{{ source.Date }}",
                   
           {% endfor %} };

        var sourcesNames = { {% for source in sources %}
                   {{ source.Num }} : "{{ source.Title }}",

           {% endfor %} };
    
    window.onload = function() {
        getGraphDataForDisease(diseaseID, 2);
        drawSourceTimeLine(sources, sourcesNames);
    };
</script>


{% endblock %}