{% extends "base.html" %}
{% block content %}

<div>
    <h1>{{ gene.GeneName }}</h1>
</div>
<div>
    <h3>Related diseases:</h3>
    <ul>
    {% for d in diseases %}
        <li><a href="diseaseDetails?id={{ d.ConceptID }}">{{ d.DiseaseName }}</a></li>
    {% endfor %}
    </ul>
</div>
<div>
    <h3>Sources:</h3>
    {% for source in sources %}
        <div>{{ source.Num }}. {{ source.Title }}
            <br>
            {{ source.Date }}
            <br>
            {{ source.Journal }}
            <br>
            Authors: {% for author in source.Authors %}
            <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{author}}" target="_blank">{{author}}</a>{%if not forloop.last%},{%endif%}
            {% endfor %}
            <br><br>
        </div>
    {% endfor %}
</div>
<div id="canvasGraph">
    
</div>
<div id="sourcesTimeline" style="height: 300px; width: 100%;">

</div>
<script>
    var geneID = "{{ gene.GeneID }}" ;
     var sources = { {% for source in sources %}
                   {{ source.Num }} : "{{ source.Date }}",

           {% endfor %} };
    var names = {
		{% for source in sources %}
			{{ source.Num }}: "{{ source.Title }}",

		{% endfor %}
		};
    window.onload = function() {
        getGraphDataForGene(geneID, 2);
        drawSourceTimeLine(sources, names);
    };
</script>

{% endblock %}